<div id='coin-slider'>
	{% if not entities %}
			{% set notFoundText = 'kleskslider.notfound'|trans({},'KleskSlider') %}
			<img src='{{ new_image(config.width,config.height).fill("0xffffff").write("bundles/kleskslider/fonts/alphabeta/alphbeta.ttf",notFoundText,(config.width)/2,(config.height)/2,18,0,'#CCCCCC','center') }}' >
			<span>{{ notFoundText }}</span>
	{% else %}
		{% for entity in entities %}
			{% set imageEntity = attribute(entity.image,config.self_entity) %}
			{# <a href="#" target="_blank"> #}
				{% if config.resize == 'resize' %}
					<img src='{{ image(config.imagepath ~ imageEntity).resize(config.width,config.height) }}' >
				{% elseif config.resize == 'force' %}
					<img src='{{ image(config.imagepath ~ imageEntity).forceResize(config.width,config.height) }}' >
				{% elseif config.resize == 'crop' %}
					<img src='{{ image(config.imagepath ~ imageEntity).cropResize(config.width,config.height) }}' >
				{% elseif config.resize == 'scale' %}
					<img src='{{ image(config.imagepath ~ imageEntity).scaleResize(config.width,config.height) }}' >
				{% else %}
					<img src='{{ asset(config.imagepath ~ imageEntity) }}' >
				{% endif %}
				<span>{{ entity.header }}</span>
			{# </a> #}
		{% endfor %}
	{% endif %}
</div>
